NodeRed_Flows/flows.json
[{"id":"1ebab653.ba895a","type":"tab","label":"Office Flow","disabled":false,"info":""},{"id":"da81f91e.ee1df8","type":"tab","label":"Harper's Flow","disabled":false,"info":""},{"id":"99733f7c.d53ea","type":"tab","label":"Downstairs Flow","disabled":false,"info":""},{"id":"fe450511.ac0528","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"5f436cfd.dd8ccc","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e541b7a1.e079","type":"influxdb","hostname":"192.168.1.20","port":"8087","protocol":"http","database":"HarpersRoom","name":"HarpersRoom","usetls":false,"tls":""},{"id":"38559717.b291f","type":"influxdb","hostname":"192.168.1.20","port":"8087","protocol":"http","database":"Downstairs","name":"Downstairs","usetls":false,"tls":""},{"id":"98abdce0.033208","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6412bf9f.843678","type":"ui_tab","name":"Downstairs","icon":"dashboard","disabled":false,"hidden":false},{"id":"80d26f0c.d62b28","type":"ui_tab","name":"Harper","icon":"dashboard","disabled":false,"hidden":false},{"id":"3cafdb6d.088724","type":"ui_tab","name":"Office","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf4cffe5.fa9058","type":"ui_group","name":"Downstairs","tab":"6412bf9f.843678","order":1,"disp":true,"width":"6","collapse":false},{"id":"72936d30.f569e4","type":"ui_group","name":"Harper's Room","tab":"80d26f0c.d62b28","order":1,"disp":true,"width":"6","collapse":false},{"id":"bb1d5633.3e4758","type":"ui_group","name":"Office","tab":"3cafdb6d.088724","order":1,"disp":true,"width":"6","collapse":false},{"id":"8fd07279.8e4ce8","type":"influxdb","hostname":"192.168.1.20","port":"8087","protocol":"http","database":"Office","name":"Office","usetls":false,"tls":""},{"id":"d2c8372.527bac8","type":"mqtt in","z":"99733f7c.d53ea","name":"Downstairs Temp","topic":"Downstairs/DHT22","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":120,"y":60,"wires":[["a83a3f08.dfbfd"]]},{"id":"b6cba52e.773d28","type":"debug","z":"99733f7c.d53ea","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Temperature","targetType":"msg","x":450,"y":80,"wires":[]},{"id":"10f46b36.537405","type":"debug","z":"99733f7c.d53ea","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Humidity","targetType":"msg","x":440,"y":120,"wires":[]},{"id":"a83a3f08.dfbfd","type":"json","z":"99733f7c.d53ea","name":"DHT22","property":"payload","action":"","pretty":true,"x":250,"y":160,"wires":[["b6cba52e.773d28","3c8dbf0f.98fb5","10f46b36.537405","f42ada99.d57af8","52ded61e.495c98","4f3d96e2.1695d8","52c234ad.0eacd4"]]},{"id":"52ded61e.495c98","type":"switch","z":"99733f7c.d53ea","name":"Too Hot","property":"payload.Temperature","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":160,"wires":[["c3be70ca.d09fd"]]},{"id":"c3be70ca.d09fd","type":"prowl","z":"99733f7c.d53ea","title":"Downstairs Temperature","priority":0,"url":"","name":"Downstairs Temp","x":660,"y":160,"wires":[]},{"id":"8e9c734.0968f9","type":"mqtt in","z":"99733f7c.d53ea","name":"Downstairs Motion","topic":"Downstairs/PIR","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":130,"y":420,"wires":[["feb0184b.fd90b8"]]},{"id":"b88b78e8.00c9e8","type":"debug","z":"99733f7c.d53ea","name":"Office Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Motion","targetType":"msg","x":590,"y":600,"wires":[]},{"id":"4d14b9fb.9fa7a8","type":"prowl","z":"99733f7c.d53ea","title":"Downstairs Motion","priority":0,"url":"","name":"Downstairs Motion","x":610,"y":640,"wires":[]},{"id":"c6d9f5f1.41bfd8","type":"mqtt out","z":"99733f7c.d53ea","name":"DownstairsWEBButton","topic":"DownstairsWEBButton","qos":"2","retain":"","broker":"5f436cfd.dd8ccc","x":360,"y":620,"wires":[]},{"id":"41993d53.af4fd4","type":"debug","z":"99733f7c.d53ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":675,"wires":[]},{"id":"3d81d69b.35760a","type":"json","z":"99733f7c.d53ea","name":"CCS811","property":"payload","action":"","pretty":true,"x":260,"y":200,"wires":[["2eb98a0c.379056","11231d5.a5b38e3","4d7974df.62f89c","3ed7d812.f9bb6","2f91ec0e.172fec"]]},{"id":"7c56be1d.6a1a7","type":"mqtt in","z":"99733f7c.d53ea","name":"Downstairs CO2","topic":"Downstairs/811","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":120,"y":260,"wires":[["3d81d69b.35760a"]]},{"id":"2eb98a0c.379056","type":"change","z":"99733f7c.d53ea","name":"CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CO2","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["76c47a15.8f402c"]]},{"id":"11231d5.a5b38e3","type":"change","z":"99733f7c.d53ea","name":"VOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.VOC","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.VOC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["93b3f462.25737"]]},{"id":"4f3d96e2.1695d8","type":"change","z":"99733f7c.d53ea","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"set","p":"Temperature","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["6fde0103.77d71"]]},{"id":"52c234ad.0eacd4","type":"change","z":"99733f7c.d53ea","name":"Humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["c1cd836f.e628f"]]},{"id":"c1cd836f.e628f","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"Humidity","measurement":"Humidity","precision":"","retentionPolicy":"","x":560,"y":440,"wires":[]},{"id":"76c47a15.8f402c","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"CO2","measurement":"CO2","precision":"","retentionPolicy":"","x":550,"y":480,"wires":[]},{"id":"93b3f462.25737","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"VOC","measurement":"VOC","precision":"","retentionPolicy":"","x":550,"y":520,"wires":[]},{"id":"6fde0103.77d71","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"Temperature","measurement":"Temperature","precision":"","retentionPolicy":"","x":570,"y":400,"wires":[]},{"id":"2f91ec0e.172fec","type":"debug","z":"99733f7c.d53ea","name":"CO2 Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.CO2","targetType":"msg","x":720,"y":360,"wires":[]},{"id":"450bd490.a39f8c","type":"ui_button","z":"99733f7c.d53ea","name":"ON","group":"cf4cffe5.fa9058","order":6,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIRON","payloadType":"str","topic":"DownstairsWEBButton","x":110,"y":635,"wires":[["c6d9f5f1.41bfd8","41993d53.af4fd4"]]},{"id":"17a7cfa.6e3cf3","type":"ui_button","z":"99733f7c.d53ea","name":"OFF","group":"cf4cffe5.fa9058","order":7,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIROFF","payloadType":"str","topic":"DownstairsWEBButton","x":110,"y":695,"wires":[["c6d9f5f1.41bfd8","41993d53.af4fd4"]]},{"id":"a63ede40.1766c","type":"ui_button","z":"99733f7c.d53ea","name":"RESTART","group":"cf4cffe5.fa9058","order":8,"width":0,"height":0,"passthru":true,"label":"RESTART","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESTART","payloadType":"str","topic":"DownstairsWEBButton","x":130,"y":755,"wires":[["c6d9f5f1.41bfd8","41993d53.af4fd4"]]},{"id":"3c8dbf0f.98fb5","type":"ui_gauge","z":"99733f7c.d53ea","name":"","group":"cf4cffe5.fa9058","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°F","format":"{{msg.payload.Temperature}}","min":0,"max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":240,"wires":[]},{"id":"f42ada99.d57af8","type":"ui_gauge","z":"99733f7c.d53ea","name":"","group":"cf4cffe5.fa9058","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.Humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":280,"wires":[]},{"id":"4d7974df.62f89c","type":"ui_gauge","z":"99733f7c.d53ea","name":"CO2","group":"cf4cffe5.fa9058","order":3,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"ppm","format":"{{msg.payload.CO2}}","min":"400","max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":320,"wires":[]},{"id":"3ed7d812.f9bb6","type":"ui_gauge","z":"99733f7c.d53ea","name":"VOC","group":"cf4cffe5.fa9058","order":4,"width":0,"height":0,"gtype":"gage","title":"VOC","label":"ppb","format":"{{msg.payload.VOC}}","min":0,"max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":360,"wires":[]},{"id":"b27e3664.df7058","type":"ui_button","z":"99733f7c.d53ea","name":"OTAUPDATE","group":"cf4cffe5.fa9058","order":9,"width":0,"height":0,"passthru":true,"label":"OTAUPDATE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OTAUPDATE","payloadType":"str","topic":"DownstairsWEBButton","x":130,"y":800,"wires":[["c6d9f5f1.41bfd8","41993d53.af4fd4"]]},{"id":"feb0184b.fd90b8","type":"json","z":"99733f7c.d53ea","name":"PIR","property":"payload","action":"","pretty":true,"x":210,"y":520,"wires":[["c7df523.628293"]]},{"id":"c7df523.628293","type":"switch","z":"99733f7c.d53ea","name":"Motion Detected","property":"payload.Motion","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":580,"wires":[["b88b78e8.00c9e8","4d14b9fb.9fa7a8"]]},{"id":"f140f79f.869f78","type":"mqtt in","z":"1ebab653.ba895a","name":"Office Temp","topic":"Office/DHT22","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":130,"y":60,"wires":[["71c3a6ff.c21d18"]]},{"id":"71986f1e.9e2df","type":"debug","z":"1ebab653.ba895a","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Temperature","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"52d37c99.e2e9e4","type":"debug","z":"1ebab653.ba895a","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Humidity","targetType":"msg","x":460,"y":100,"wires":[]},{"id":"71c3a6ff.c21d18","type":"json","z":"1ebab653.ba895a","name":"DHT22","property":"payload","action":"","pretty":true,"x":270,"y":160,"wires":[["71986f1e.9e2df","e2fd911e.7529d","52d37c99.e2e9e4","aea7b45d.b26f18","f5cee301.6e5fe8","54fdb31b.93e4e4","7c75f4c2.e4aae4"]]},{"id":"f5cee301.6e5fe8","type":"switch","z":"1ebab653.ba895a","name":"Too Hot","property":"payload.Temperature","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":140,"wires":[["6e1d6f.da14729"]]},{"id":"6e1d6f.da14729","type":"prowl","z":"1ebab653.ba895a","title":"Office Temperature","priority":0,"url":"","name":"Office Temp","x":650,"y":140,"wires":[]},{"id":"8be92da3.a1f86","type":"mqtt in","z":"1ebab653.ba895a","name":"Office Motion","topic":"Office/PIR","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":130,"y":420,"wires":[["31435b07.d72c14"]]},{"id":"c31b6eab.68f59","type":"debug","z":"1ebab653.ba895a","name":"Office Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Motion","targetType":"msg","x":610,"y":600,"wires":[]},{"id":"e5c3915f.2b5a08","type":"prowl","z":"1ebab653.ba895a","title":"Office Motion","priority":0,"url":"","name":"Office Motion","x":610,"y":640,"wires":[]},{"id":"ffa58112.c6bb68","type":"mqtt out","z":"1ebab653.ba895a","name":"OfficeWEBButton","topic":"OfficeWEBButton","qos":"2","retain":"","broker":"5f436cfd.dd8ccc","x":390,"y":720,"wires":[]},{"id":"67d999cb.6fd","type":"debug","z":"1ebab653.ba895a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":675,"wires":[]},{"id":"ed3e1d50.b0f3b","type":"json","z":"1ebab653.ba895a","name":"CCS811","property":"payload","action":"","pretty":true,"x":280,"y":200,"wires":[["6b8c85e.4179afc","598f3d07.1bac44","5ae1c3ee.52c49c","ba3980d4.a1acb","2a49293e.4b689e","3c9b48ff.c07028"]]},{"id":"5cf1716c.c0dcb","type":"mqtt in","z":"1ebab653.ba895a","name":"Office CO2","topic":"Office/811","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":120,"y":260,"wires":[["ed3e1d50.b0f3b"]]},{"id":"6b8c85e.4179afc","type":"change","z":"1ebab653.ba895a","name":"CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CO2","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":480,"wires":[["b70b3326.20c27"]]},{"id":"598f3d07.1bac44","type":"change","z":"1ebab653.ba895a","name":"VOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.VOC","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.VOC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":520,"wires":[["84ff0211.6244c"]]},{"id":"54fdb31b.93e4e4","type":"change","z":"1ebab653.ba895a","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"set","p":"Temperature","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["38ed090e.1cee36"]]},{"id":"7c75f4c2.e4aae4","type":"change","z":"1ebab653.ba895a","name":"Humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["9639c2da.535da8"]]},{"id":"9639c2da.535da8","type":"influxdb out","z":"1ebab653.ba895a","influxdb":"8fd07279.8e4ce8","name":"Humidity","measurement":"Humidity","precision":"","retentionPolicy":"","x":580,"y":440,"wires":[]},{"id":"b70b3326.20c27","type":"influxdb out","z":"1ebab653.ba895a","influxdb":"8fd07279.8e4ce8","name":"CO2","measurement":"CO2","precision":"","retentionPolicy":"","x":570,"y":480,"wires":[]},{"id":"84ff0211.6244c","type":"influxdb out","z":"1ebab653.ba895a","influxdb":"8fd07279.8e4ce8","name":"VOC","measurement":"VOC","precision":"","retentionPolicy":"","x":570,"y":520,"wires":[]},{"id":"38ed090e.1cee36","type":"influxdb out","z":"1ebab653.ba895a","influxdb":"8fd07279.8e4ce8","name":"Temperature","measurement":"Temperature","precision":"","retentionPolicy":"","x":590,"y":400,"wires":[]},{"id":"2a49293e.4b689e","type":"debug","z":"1ebab653.ba895a","name":"CO2 Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.CO2","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"4627eb1.babb714","type":"ui_button","z":"1ebab653.ba895a","name":"ON","group":"bb1d5633.3e4758","order":6,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIRON","payloadType":"str","topic":"OfficeWEBButton","x":130,"y":635,"wires":[["ffa58112.c6bb68","67d999cb.6fd"]]},{"id":"343ed2e1.c5db26","type":"ui_button","z":"1ebab653.ba895a","name":"OFF","group":"bb1d5633.3e4758","order":7,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIROFF","payloadType":"str","topic":"OfficeWEBButton","x":130,"y":695,"wires":[["ffa58112.c6bb68","67d999cb.6fd"]]},{"id":"870d57cc.ac71c8","type":"ui_button","z":"1ebab653.ba895a","name":"RESTART","group":"bb1d5633.3e4758","order":8,"width":0,"height":0,"passthru":true,"label":"RESTART","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESTART","payloadType":"str","topic":"OfficeWEBButton","x":150,"y":755,"wires":[["ffa58112.c6bb68","67d999cb.6fd"]]},{"id":"e2fd911e.7529d","type":"ui_gauge","z":"1ebab653.ba895a","name":"","group":"bb1d5633.3e4758","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°F","format":"{{msg.payload.Temperature}}","min":0,"max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":240,"wires":[]},{"id":"aea7b45d.b26f18","type":"ui_gauge","z":"1ebab653.ba895a","name":"","group":"bb1d5633.3e4758","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.Humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":280,"wires":[]},{"id":"5ae1c3ee.52c49c","type":"ui_gauge","z":"1ebab653.ba895a","name":"CO2","group":"bb1d5633.3e4758","order":3,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"ppm","format":"{{msg.payload.CO2}}","min":"400","max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":320,"wires":[]},{"id":"ba3980d4.a1acb","type":"ui_gauge","z":"1ebab653.ba895a","name":"VOC","group":"bb1d5633.3e4758","order":4,"width":0,"height":0,"gtype":"gage","title":"VOC","label":"ppb","format":"{{msg.payload.VOC}}","min":0,"max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":360,"wires":[]},{"id":"66dd4ab7.f22444","type":"ui_button","z":"1ebab653.ba895a","name":"OTAUPDATE","group":"bb1d5633.3e4758","order":9,"width":0,"height":0,"passthru":true,"label":"OTAUPDATE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OTAUPDATE","payloadType":"str","topic":"OfficeWEBButton","x":150,"y":800,"wires":[["ffa58112.c6bb68","67d999cb.6fd"]]},{"id":"31435b07.d72c14","type":"json","z":"1ebab653.ba895a","name":"PIR","property":"payload","action":"","pretty":true,"x":230,"y":520,"wires":[["2e6ce0c8.b4d3e"]]},{"id":"2e6ce0c8.b4d3e","type":"switch","z":"1ebab653.ba895a","name":"Motion Detected","property":"payload.Motion","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":580,"wires":[["c31b6eab.68f59","e5c3915f.2b5a08"]]},{"id":"f8fc8de8.350e6","type":"mqtt in","z":"da81f91e.ee1df8","name":"Harper Temp","topic":"Harper/DHT22","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":110,"y":80,"wires":[["1ba183b3.835e14"]]},{"id":"876bb3a9.63ee98","type":"debug","z":"da81f91e.ee1df8","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Temperature","targetType":"msg","x":430,"y":80,"wires":[]},{"id":"ad68c11d.f34098","type":"debug","z":"da81f91e.ee1df8","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Humidity","targetType":"msg","x":440,"y":120,"wires":[]},{"id":"1ba183b3.835e14","type":"json","z":"da81f91e.ee1df8","name":"DHT22","property":"payload","action":"","pretty":true,"x":250,"y":180,"wires":[["876bb3a9.63ee98","fa249d75.6f51d8","ad68c11d.f34098","bb603e8f.dd91d8","bd1c8cdf.fe93b","bcc46791.d21748","3b21efa9.f21bd8"]]},{"id":"bd1c8cdf.fe93b","type":"switch","z":"da81f91e.ee1df8","name":"Too Hot","property":"payload.Temperature","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":160,"wires":[["cd0efe2a.048d1"]]},{"id":"cd0efe2a.048d1","type":"prowl","z":"da81f91e.ee1df8","title":"Harper Temperature","priority":0,"url":"","name":"Harper Temp","x":630,"y":160,"wires":[]},{"id":"821ac3a9.f134a","type":"mqtt in","z":"da81f91e.ee1df8","name":"Harper Motion","topic":"Harper/PIR","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":110,"y":440,"wires":[["44fd909a.ad2948"]]},{"id":"9b59c51b.a6fa88","type":"debug","z":"da81f91e.ee1df8","name":"Harper Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Motion","targetType":"msg","x":600,"y":620,"wires":[]},{"id":"d3ecb8b0.fa4b08","type":"prowl","z":"da81f91e.ee1df8","title":"Harper Motion","priority":0,"url":"","name":"Harper Motion","x":600,"y":660,"wires":[]},{"id":"cac7dc54.dc96a","type":"mqtt out","z":"da81f91e.ee1df8","name":"HarperWEBButton","topic":"HarperWEBButton","qos":"2","retain":"","broker":"5f436cfd.dd8ccc","x":360,"y":695,"wires":[]},{"id":"d66639f.939f2c8","type":"debug","z":"da81f91e.ee1df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":695,"wires":[]},{"id":"fd766072.d2edb8","type":"json","z":"da81f91e.ee1df8","name":"CCS811","property":"payload","action":"","pretty":true,"x":260,"y":220,"wires":[["e49f655f.2e258","d2bc0647.264ad8","7a735ec6.465a4","6808c12f.c05b98","fbf8f9be.1710b8","ad49b15a.5603b"]]},{"id":"20502426.7e3d1c","type":"mqtt in","z":"da81f91e.ee1df8","name":"Harper CO2","topic":"Harper/811","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":110,"y":280,"wires":[["fd766072.d2edb8"]]},{"id":"e49f655f.2e258","type":"change","z":"da81f91e.ee1df8","name":"CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CO2","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":500,"wires":[["a6cdc56d.191b48"]]},{"id":"d2bc0647.264ad8","type":"change","z":"da81f91e.ee1df8","name":"VOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.VOC","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.VOC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":540,"wires":[["d87bbb68.8331e"]]},{"id":"bcc46791.d21748","type":"change","z":"da81f91e.ee1df8","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"set","p":"Temperature","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":420,"wires":[["678f0d75.b482b4"]]},{"id":"3b21efa9.f21bd8","type":"change","z":"da81f91e.ee1df8","name":"Humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":460,"wires":[["35c09cce.0f47ac"]]},{"id":"35c09cce.0f47ac","type":"influxdb out","z":"da81f91e.ee1df8","influxdb":"e541b7a1.e079","name":"Humidity","measurement":"Humidity","precision":"","retentionPolicy":"","x":560,"y":460,"wires":[]},{"id":"a6cdc56d.191b48","type":"influxdb out","z":"da81f91e.ee1df8","influxdb":"e541b7a1.e079","name":"CO2","measurement":"CO2","precision":"","retentionPolicy":"","x":550,"y":500,"wires":[]},{"id":"d87bbb68.8331e","type":"influxdb out","z":"da81f91e.ee1df8","influxdb":"e541b7a1.e079","name":"VOC","measurement":"VOC","precision":"","retentionPolicy":"","x":550,"y":540,"wires":[]},{"id":"678f0d75.b482b4","type":"influxdb out","z":"da81f91e.ee1df8","influxdb":"e541b7a1.e079","name":"Temperature","measurement":"Temperature","precision":"","retentionPolicy":"","x":570,"y":420,"wires":[]},{"id":"fbf8f9be.1710b8","type":"debug","z":"da81f91e.ee1df8","name":"CO2 Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.CO2","targetType":"msg","x":720,"y":380,"wires":[]},{"id":"dc9914e1.86a588","type":"ui_button","z":"da81f91e.ee1df8","name":"ON","group":"72936d30.f569e4","order":6,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIRON","payloadType":"str","topic":"HarperWEBButton","x":110,"y":655,"wires":[["cac7dc54.dc96a","d66639f.939f2c8"]]},{"id":"3c8694b2.813434","type":"ui_button","z":"da81f91e.ee1df8","name":"OFF","group":"72936d30.f569e4","order":7,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIROFF","payloadType":"str","topic":"HarperWEBButton","x":110,"y":715,"wires":[["cac7dc54.dc96a","d66639f.939f2c8"]]},{"id":"efb390a2.1b74b8","type":"ui_button","z":"da81f91e.ee1df8","name":"RESTART","group":"72936d30.f569e4","order":8,"width":0,"height":0,"passthru":true,"label":"RESTART","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESTART","payloadType":"str","topic":"HarperWEBButton","x":130,"y":775,"wires":[["cac7dc54.dc96a","d66639f.939f2c8"]]},{"id":"fa249d75.6f51d8","type":"ui_gauge","z":"da81f91e.ee1df8","name":"","group":"72936d30.f569e4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°F","format":"{{msg.payload.Temperature}}","min":0,"max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":260,"wires":[]},{"id":"bb603e8f.dd91d8","type":"ui_gauge","z":"da81f91e.ee1df8","name":"","group":"72936d30.f569e4","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.Humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":300,"wires":[]},{"id":"7a735ec6.465a4","type":"ui_gauge","z":"da81f91e.ee1df8","name":"CO2","group":"72936d30.f569e4","order":3,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"ppm","format":"{{msg.payload.CO2}}","min":"400","max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":340,"wires":[]},{"id":"6808c12f.c05b98","type":"ui_gauge","z":"da81f91e.ee1df8","name":"VOC","group":"72936d30.f569e4","order":4,"width":0,"height":0,"gtype":"gage","title":"VOC","label":"ppb","format":"{{msg.payload.VOC}}","min":0,"max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":380,"wires":[]},{"id":"987b553d.5e3e8","type":"ui_button","z":"da81f91e.ee1df8","name":"OTAUPDATE","group":"72936d30.f569e4","order":9,"width":0,"height":0,"passthru":true,"label":"OTAUPDATE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OTAUPDATE","payloadType":"str","topic":"HarperWEBButton","x":130,"y":820,"wires":[["cac7dc54.dc96a","d66639f.939f2c8"]]},{"id":"44fd909a.ad2948","type":"json","z":"da81f91e.ee1df8","name":"PIR","property":"payload","action":"","pretty":true,"x":210,"y":540,"wires":[["8387559a.4b5088"]]},{"id":"8387559a.4b5088","type":"switch","z":"da81f91e.ee1df8","name":"Motion Detected","property":"payload.Motion","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":600,"wires":[["9b59c51b.a6fa88","d3ecb8b0.fa4b08"]]},{"id":"4a9cd24f.753c5c","type":"mqtt in","z":"99733f7c.d53ea","name":"MQTTTest","topic":"MQTTTest","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":100,"y":860,"wires":[["ed3a286c.f74e28"]]},{"id":"ed3a286c.f74e28","type":"debug","z":"99733f7c.d53ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":860,"wires":[]},{"id":"5499e46.be5d39c","type":"debug","z":"da81f91e.ee1df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":880,"wires":[]},{"id":"99f6c96a.0811e","type":"mqtt in","z":"da81f91e.ee1df8","name":"MQTTTest","topic":"MQTTTest","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":120,"y":880,"wires":[["5499e46.be5d39c"]]},{"id":"7f6e98fd.9db29","type":"debug","z":"1ebab653.ba895a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":860,"wires":[]},{"id":"216e27a0.1997f","type":"mqtt in","z":"1ebab653.ba895a","name":"MQTTTest","topic":"MQTTTest","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":140,"y":860,"wires":[["7f6e98fd.9db29"]]},{"id":"2c259de5.5f4b6a","type":"mqtt in","z":"fe450511.ac0528","name":"Person Detected","topic":"cameras/person","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":170,"y":240,"wires":[["3360d2ac.74f4f6","9381517c.ad44e8"]]},{"id":"3360d2ac.74f4f6","type":"debug","z":"fe450511.ac0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]},{"id":"9381517c.ad44e8","type":"prowl","z":"fe450511.ac0528","title":"Outside Person","priority":0,"url":"","name":"Person Detected Outside","x":510,"y":280,"wires":[]},{"id":"3c9b48ff.c07028","type":"switch","z":"1ebab653.ba895a","name":"Co2 Warn","property":"payload.CO2","propertyType":"msg","rules":[{"t":"gt","v":"2000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":180,"wires":[["eb91a902.c8a698"]]},{"id":"ad49b15a.5603b","type":"switch","z":"da81f91e.ee1df8","name":"Co2 Warn","property":"payload.CO2","propertyType":"msg","rules":[{"t":"gt","v":"3000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":200,"wires":[["2b903c23.abd13c"]]},{"id":"950d1c54.f2c81","type":"switch","z":"99733f7c.d53ea","name":"Co2 Warn","property":"payload.CO2","propertyType":"msg","rules":[{"t":"gt","v":"2000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":200,"wires":[["38857838.b0469"]]},{"id":"2b903c23.abd13c","type":"prowl","z":"da81f91e.ee1df8","title":"Harper Co2","priority":0,"url":"","name":"Harper Co2","x":630,"y":200,"wires":[]},{"id":"eb91a902.c8a698","type":"prowl","z":"1ebab653.ba895a","title":"Office Co2","priority":0,"url":"","name":"Office Co2","x":650,"y":180,"wires":[]},{"id":"38857838.b0469","type":"prowl","z":"99733f7c.d53ea","title":"Downstairs Co2","priority":0,"url":"","name":"Downstairs Co2","x":650,"y":200,"wires":[]}]