Downstairsnode2.json
[{"id":"99733f7c.d53ea","type":"tab","label":"Downstairs Flow","disabled":false,"info":""},{"id":"d2c8372.527bac8","type":"mqtt in","z":"99733f7c.d53ea","name":"Downstairs Temp","topic":"Downstairs/DHT22","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":120,"y":60,"wires":[["a83a3f08.dfbfd"]]},{"id":"b6cba52e.773d28","type":"debug","z":"99733f7c.d53ea","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Temperature","targetType":"msg","x":440,"y":120,"wires":[]},{"id":"10f46b36.537405","type":"debug","z":"99733f7c.d53ea","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Humidity","targetType":"msg","x":450,"y":160,"wires":[]},{"id":"a83a3f08.dfbfd","type":"json","z":"99733f7c.d53ea","name":"DHT22","property":"payload","action":"","pretty":true,"x":250,"y":160,"wires":[["b6cba52e.773d28","3c8dbf0f.98fb5","10f46b36.537405","f42ada99.d57af8","52ded61e.495c98","4f3d96e2.1695d8","52c234ad.0eacd4"]]},{"id":"52ded61e.495c98","type":"switch","z":"99733f7c.d53ea","name":"Too Hot","property":"payload.Temperature","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":200,"wires":[["c3be70ca.d09fd"]]},{"id":"c3be70ca.d09fd","type":"prowl","z":"99733f7c.d53ea","title":"Downstairs Temperature","priority":0,"url":"","name":"Downstairs Temp","x":670,"y":200,"wires":[]},{"id":"8e9c734.0968f9","type":"mqtt in","z":"99733f7c.d53ea","name":"Downstairs Motion","topic":"Downstairs/PIR","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":130,"y":420,"wires":[["feb0184b.fd90b8"]]},{"id":"b88b78e8.00c9e8","type":"debug","z":"99733f7c.d53ea","name":"Office Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Motion","targetType":"msg","x":590,"y":600,"wires":[]},{"id":"4d14b9fb.9fa7a8","type":"prowl","z":"99733f7c.d53ea","title":"Downstairs Motion","priority":0,"url":"","name":"Downstairs Motion","x":610,"y":640,"wires":[]},{"id":"c6d9f5f1.41bfd8","type":"mqtt out","z":"99733f7c.d53ea","name":"DownstairsWEBButton","topic":"DownstairsWEBButton","qos":"2","retain":"","broker":"5f436cfd.dd8ccc","x":370,"y":675,"wires":[]},{"id":"41993d53.af4fd4","type":"debug","z":"99733f7c.d53ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":675,"wires":[]},{"id":"3d81d69b.35760a","type":"json","z":"99733f7c.d53ea","name":"CCS811","property":"payload","action":"","pretty":true,"x":260,"y":200,"wires":[["2eb98a0c.379056","11231d5.a5b38e3","4d7974df.62f89c","3ed7d812.f9bb6","2f91ec0e.172fec"]]},{"id":"7c56be1d.6a1a7","type":"mqtt in","z":"99733f7c.d53ea","name":"Downstairs CO2","topic":"Downstairs/811","qos":"2","datatype":"auto","broker":"5f436cfd.dd8ccc","x":120,"y":260,"wires":[["3d81d69b.35760a"]]},{"id":"2eb98a0c.379056","type":"change","z":"99733f7c.d53ea","name":"CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CO2","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["76c47a15.8f402c"]]},{"id":"11231d5.a5b38e3","type":"change","z":"99733f7c.d53ea","name":"VOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.VOC","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.VOC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["93b3f462.25737"]]},{"id":"4f3d96e2.1695d8","type":"change","z":"99733f7c.d53ea","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"},{"t":"set","p":"Temperature","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["6fde0103.77d71"]]},{"id":"52c234ad.0eacd4","type":"change","z":"99733f7c.d53ea","name":"Humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"payload.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["c1cd836f.e628f"]]},{"id":"c1cd836f.e628f","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"Humidity","measurement":"Humidity","precision":"","retentionPolicy":"","x":560,"y":440,"wires":[]},{"id":"76c47a15.8f402c","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"CO2","measurement":"CO2","precision":"","retentionPolicy":"","x":550,"y":480,"wires":[]},{"id":"93b3f462.25737","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"VOC","measurement":"VOC","precision":"","retentionPolicy":"","x":550,"y":520,"wires":[]},{"id":"6fde0103.77d71","type":"influxdb out","z":"99733f7c.d53ea","influxdb":"38559717.b291f","name":"Temperature","measurement":"Temperature","precision":"","retentionPolicy":"","x":570,"y":400,"wires":[]},{"id":"2f91ec0e.172fec","type":"debug","z":"99733f7c.d53ea","name":"CO2 Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.CO2","targetType":"msg","x":720,"y":360,"wires":[]},{"id":"450bd490.a39f8c","type":"ui_button","z":"99733f7c.d53ea","name":"ON","group":"cf4cffe5.fa9058","order":6,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIRON","payloadType":"str","topic":"DownstairsWEBButton","x":110,"y":635,"wires":[["c6d9f5f1.41bfd8","41993d53.af4fd4"]]},{"id":"17a7cfa.6e3cf3","type":"ui_button","z":"99733f7c.d53ea","name":"OFF","group":"cf4cffe5.fa9058","order":7,"width":0,"height":0,"passthru":true,"label":"MOTION SENSOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PIROFF","payloadType":"str","topic":"DownstairsWEBButton","x":110,"y":695,"wires":[["c6d9f5f1.41bfd8","41993d53.af4fd4"]]},{"id":"a63ede40.1766c","type":"ui_button","z":"99733f7c.d53ea","name":"RESTART","group":"cf4cffe5.fa9058","order":8,"width":0,"height":0,"passthru":true,"label":"RESTART","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESTART","payloadType":"str","topic":"DownstairsWEBButton","x":130,"y":755,"wires":[["c6d9f5f1.41bfd8"]]},{"id":"3c8dbf0f.98fb5","type":"ui_gauge","z":"99733f7c.d53ea","name":"","group":"cf4cffe5.fa9058","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°F","format":"{{msg.payload.Temperature}}","min":0,"max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":240,"wires":[]},{"id":"f42ada99.d57af8","type":"ui_gauge","z":"99733f7c.d53ea","name":"","group":"cf4cffe5.fa9058","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.Humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":280,"wires":[]},{"id":"4d7974df.62f89c","type":"ui_gauge","z":"99733f7c.d53ea","name":"CO2","group":"cf4cffe5.fa9058","order":3,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"ppm","format":"{{msg.payload.CO2}}","min":"400","max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":320,"wires":[]},{"id":"3ed7d812.f9bb6","type":"ui_gauge","z":"99733f7c.d53ea","name":"VOC","group":"cf4cffe5.fa9058","order":4,"width":0,"height":0,"gtype":"gage","title":"VOC","label":"ppb","format":"{{msg.payload.VOC}}","min":0,"max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":360,"wires":[]},{"id":"b27e3664.df7058","type":"ui_button","z":"99733f7c.d53ea","name":"OTAUPDATE","group":"cf4cffe5.fa9058","order":9,"width":0,"height":0,"passthru":true,"label":"OTAUPDATE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OTAUPDATE","payloadType":"str","topic":"DownstairsWEBButton","x":130,"y":800,"wires":[["c6d9f5f1.41bfd8"]]},{"id":"feb0184b.fd90b8","type":"json","z":"99733f7c.d53ea","name":"PIR","property":"payload","action":"","pretty":true,"x":210,"y":520,"wires":[["c7df523.628293"]]},{"id":"c7df523.628293","type":"switch","z":"99733f7c.d53ea","name":"Motion Detected","property":"payload.Motion","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":580,"wires":[["b88b78e8.00c9e8","4d14b9fb.9fa7a8"]]},{"id":"5f436cfd.dd8ccc","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.1.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38559717.b291f","type":"influxdb","z":"","hostname":"192.168.1.20","port":"8087","protocol":"http","database":"Downstairs","name":"Downstairs","usetls":false,"tls":""},{"id":"cf4cffe5.fa9058","type":"ui_group","z":0,"name":"Downstairs","tab":"6412bf9f.843678","order":1,"disp":true,"width":"6","collapse":false},{"id":"6412bf9f.843678","type":"ui_tab","z":0,"name":"Downstairs","icon":"dashboard","disabled":false,"hidden":false}]